$example-border-color: rgba($dark, 0.1);

.example-section {
  .field-label {
    display: flex;
    align-items: center;
    padding: 0;

    .label {
      white-space: nowrap;
      padding: 0;
      margin: 0;
    }
  }

  .example-section__info {
    position: relative;
    padding: 3rem 0;

    &:before {
      background: $warning;
      border-radius: $radius $radius 0 0;
      bottom: 0;
      content: 'Example';
      display: inline-block;
      font-size: 0.5rem;
      font-weight: bold;
      letter-spacing: 0.05em;
      padding: 0.5em 1em;
      position: absolute;
      text-transform: uppercase;
      vertical-align: top;
    }
  }
}

.example {
  position: relative;
  display: flex;
  flex-direction: column;

  .example__container {
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }

  .button-container {
    position: absolute;
    display: inline-flex;
    background: $warning;
    bottom: 100%;
    padding: 0 0 0 8px;
    vertical-align: top;
  }

  .example-component {
    background: $light;
    padding: 2px;
  }

  .codeview {
    border: 1px solid $example-border-color;
    border-radius: 0 0 $radius $radius;
  }

  &.is-vertical {
    @include desktop {
      flex-direction: row;
      .example-component,
      .codeview {
        width: 50%;
      }
      .codeview {
        display: flex;
        flex-direction: column;
        border-top: 0;
        border-left: 1px solid $example-border-color;
      }
      .codeview,
      .highlight,
      pre,
      code {
        flex-grow: 1;
      }
    }
  }
}

hr.is-medium {
  margin: 3rem 0;
}
