.navbar {
  &.navbar-main {
    z-index: 40 !important;
    padding: 0;

    img {
      max-height: none;
    }
  }

  &.block-menu .navbar-item {
    height: 100%;
  }
}

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  @include until($navbar-breakpoint) {
    padding-top: 2.8125em;
  }
}
