.page-builder {
  .page-builder__container > .columns {
    height: 100vh;
  }

  .page-builder__viewer {
    position: relative;
    height: 100%;
    width: calc(#{1920px / 2} + 2rem);
    display: flex;
    flex-direction: column;

    &__iframe {
      height: calc(100% - 4.5rem);
      padding: 1rem;
    }

    .page-builder__device-options {
      padding: 1rem;
      z-index: 2;
      background: $white;
    }
  }

  .page-builder__iframe {
    position: relative;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: scale(0.5) translate(-50%, -50%);
    width: 1920px;
    height: 200%;

    &.has-device-frame {
      height: calc(1080px - 1rem);
      padding: 3.05rem 0 1.4rem;

      background-image: url('~assets/images/desktop-outline.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;

      iframe {
        border: 2px solid $grey-lightest;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }

    &.is-tablet {
      width: 769px;

      &.has-device-frame {
        height: calc(1024px + 7rem);
        width: calc(769px + 7.6rem);
        padding: 5.3rem 3.2rem 5.5rem;
        background-image: url('~assets/images/tablet-outline.png');
      }
    }

    &.is-mobile {
      width: 376px;

      &.has-device-frame {
        height: calc(667px + 2.4rem);
        width: calc(376px + 3rem);
        padding: 1.3rem 1.5rem;
        background-image: url('~assets/images/mobile-outline.png');

        iframe {
          border-radius: 2.3rem;
          overflow: hidden;
        }
      }
    }
  }

  .page-builder__component-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid $grey-lighter;
  }
}

.page-builder__component-list__header {
  padding: 1rem;
  border-bottom: 1px solid $grey-lighter;
}

.page-builder__component-list__items {
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
  background: $light;
}

// Placed on own as it will keeps styles when dragged
.page-builder__component-list__item {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border-color: $primary;
  }

  img {
    width: 100%;
  }
}

.sortable-drag {
  opacity: 0;
}
