::selection {
  background: lighten($primary, 5%);
  color: $primary-invert;
}

html {
  @include mobile {
    font-size: 13px;
  }
}

html.is-clipped-touch {
  @include touch {
    overflow: hidden !important;
  }
}

.media-content {
  overflow-y: hidden;
  overflow-x: auto;
}

.is-nowrap {
  white-space: nowrap;
}
