.is-fullwidth {
  width: 100%;
}

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  $color-invert: findColorInvert($color);

  .has-text-#{$name}-invert {
    &,
    & > a:not(.button):not([class*='has-text-']),
    & > span > a:not(.button):not([class*='has-text-']) {
      color: $color-invert !important;
    }
  }

  a.has-text-#{$name}-invert:not(.button):not([class*='has-text-']) {
    &:hover,
    &:focus {
      color: darken($color-invert, 10%) !important;
    }
  }
}
