.block-viewer-list {
  height: 100%;

  .block-viewer-item {
    position: relative;

    &:hover {
      border: 2px solid $primary;
    }

    .block-viewer-item__options {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      z-index: 2;
      border: 1px solid $light;
      padding: 0.25rem;
      background: $white;
      border-radius: $radius;

      .field {
        margin-bottom: 0;
      }

      .level-item {
        font-size: $size-5;
        padding: 0 0.25em;
      }
    }

    &:hover .block-viewer-item__options {
      display: block;
    }

    .navbar {
      z-index: auto;
    }
  }
}
