.page-builder {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.page-builder__header {
  padding: 1rem;
}

.page-builder__container {
  display: flex;
  width: 100%;
  height: 100%;

  @include portrait {
    @include touch {
      flex-direction: column;
    }
  }
}

.page-builder__editor {
  flex-grow: 1;
  overflow: hidden;
}

.page-builder__blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background: $light;
  flex-shrink: 0;

  @include landscape {
    @include touch {
      width: 300px;
      height: 100%;
    }
  }

  @include desktop {
    width: 500px;
    height: 100%;
  }

  .page-builder__blocks__filters {
    padding: 1rem;
  }

  .page-builder__blocks__selector {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;

    .level {
      padding: 1rem;
    }
  }
}

.page-builder__items {
  padding: 0 1rem 1rem;
}

// Placed on own as it will keeps styles when dragged
.page-builder__item {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border-color: $primary;
  }

  img {
    width: 100%;
  }
}

.page-builder__viewer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 300px;
  overflow: hidden;
  background: $grey-lighter;

  @include landscape {
    height: 100%;
  }

  @include desktop {
    height: 100%;
  }

  .page-builder__options {
    padding: 1rem 1rem 0;
    z-index: 2;
  }

  .page-builder__viewer-frame {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    .page-builder__viewer-frame__iframe {
      height: 100%;
      padding: 1rem;
    }
  }
}

.page-builder__iframe {
  position: relative;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: scale(0.2) translate(-50%, -50%);
  width: 1920px;
  height: 500%;

  @include portrait {
    @include tablet {
      transform: scale(0.39) translate(-50%, -50%);
      height: 250%;
    }
  }

  @include landscape {
    @include tablet {
      transform: scale(0.35) translate(-50%, -50%);
      height: 250%;
    }
  }

  @include from(1400px) {
    transform: scale(0.45) translate(-50%, -50%);
    height: 200%;
  }

  @include from(1800px) {
    height: 150%;
    transform: scale(0.65) translate(-50%, -50%);
  }

  &.is-tablet {
    width: 769px;

    &.has-device-frame {
      height: calc(1024px + 7rem);
      width: calc(769px + 7.6rem);
      padding: 5.3rem 3.2rem 5.5rem;
      background-image: url('~assets/images/tablet-outline.png');
    }
  }

  &.is-mobile {
    width: 376px;

    @include from(1800px) {
      height: 120%;
      transform: scale(0.8) translate(-50%, -50%);
    }

    &.has-device-frame {
      height: calc(667px + 2.4rem);
      width: calc(376px + 3rem);
      padding: 1.3rem 1.5rem;
      background-image: url('~assets/images/mobile-outline.png');

      iframe {
        border-radius: 2.3rem;
        overflow: hidden;
      }
    }
  }

  &.has-device-frame {
    height: calc(1080px - 1rem);
    padding: 3.05rem 0 1.4rem;

    background-image: url('~assets/images/desktop-outline.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    iframe {
      border: 2px solid $grey-lightest;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
