.image-toolbar {
  width: 100%;

  @include mobile {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    top: auto !important;
    right: 0 !important;
  }

  @include tablet {
    width: 400px;
  }

  &.card {
    max-width: none;
  }
}
