$menubar-width: 31.1rem;

.editor {
  position: relative;

  &.content {
    margin: 0 !important;
  }

  &.is-text .menubar {
    width: $menubar-width;
    margin-left: (-$menubar-width / 2);
  }

  &.is-image .buttons {
    flex-wrap: nowrap;
  }

  .menubar {
    position: absolute;
    transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
    background: $white;
    box-shadow: $box-shadow;
    left: 50%;
    bottom: calc(100% + 1rem);
    color: $black;
    flex-wrap: wrap;

    &.is-hidden {
      visibility: hidden;
      opacity: 0;
    }

    &.is-focused {
      display: flex !important;
      visibility: visible;
      opacity: 1;
      transition: visibility 0.2s, opacity 0.2s;
    }

    .buttons,
    .button {
      margin: 0 !important;
    }
  }
}
