$menubar-font-size: 22px;
$menubar-width: 31.1em;

.editor {
  position: relative;

  &.content {
    margin: 0 !important;
  }

  &.is-text .menubar {
    @include tablet {
      width: $menubar-width;
    }
  }

  &.is-title .buttons,
  &.is-image .buttons {
    @include mobile {
      justify-content: center;
    }

    @include tablet {
      flex-wrap: nowrap;
    }
  }

  .menubar {
    position: absolute;
    z-index: 1000;
    font-size: $menubar-font-size;
    transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
    background: $white;
    box-shadow: $box-shadow;
    left: 50%;
    transform: translate(-50%);
    bottom: calc(100% + 1rem);
    color: $black;
    flex-wrap: wrap;

    @include mobile {
      width: 90vw;
      justify-content: center;
    }

    &.is-hidden {
      visibility: hidden;
      opacity: 0;
    }

    &.is-focused {
      display: flex !important;
      visibility: visible;
      opacity: 1;
      transition: visibility 0.2s, opacity 0.2s;
    }

    .buttons,
    .button {
      margin: 0 !important;
      font-weight: $weight-bold;
    }
  }
}
