$example-border-color: rgba($warning, 0.8);

.example-section {
  .field-label .label {
    white-space: nowrap;
  }
}

.example {
  position: relative;
  display: flex;
  flex-direction: column;

  .example__container {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid $example-border-color;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }

  .button-container {
    position: absolute;
    display: inline-flex;
    background: $warning;
    border-radius: $radius $radius 0 0;
    bottom: 100%;
    padding: 0 0 0 8px;
    vertical-align: top;
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &:before {
    background: $warning;
    border-radius: $radius $radius 0 0;
    bottom: 100%;
    content: 'Example';
    display: inline-block;
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 0.5em 1em;
    position: absolute;
    text-transform: uppercase;
    vertical-align: top;
  }

  .example-component {
    background: $light;
    //    padding: 0.5rem;
  }

  .codeview {
    border-top: 1px solid $example-border-color;
  }

  &.is-vertical {
    @include desktop {
      flex-direction: row;
      .example-component,
      .codeview {
        width: 50%;
      }
      .codeview {
        display: flex;
        flex-direction: column;
        border-top: 0;
        border-left: 1px solid $example-border-color;
      }
      .codeview,
      .highlight,
      pre,
      code {
        flex-grow: 1;
      }
    }
  }
}

hr.is-medium {
  margin: 3rem 0;
}
